<!DOCTYPE html>
<html lang="kr">
{{fn-include: /include/head.html}}

<body>
{{fn-include: /include/nav.html}}
{{fn-include: /include/subnav.html}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                {{fn-forEachList: posts}}
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="/posts/view-page?postNumber={{fn-get: postNumber}}">{{fn-get: title}}</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">{{fn-get: dataTime}}</span>
                                <a href="/user/profile.html" class="author">{{fn-get: writer}}</a>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point">{{fn-get: postNumber}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {{/fn-forEachList}}
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a href="/posts/write-page" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{fn-include: /include/script.html}}
</body>
</html>
